/* width */
.w-full {
    width: 100%;
}

/* text */
.text-center {
    text-align: center;
}
.text-right {
    text-align: right;
}

/* margin */
.mt-15 {
    margin-top: 15px;
}
.m-0-20 {
    margin: 0 20px;
}

/* display */
.d-flex {
    display: flex;
}
.d-hidden {
    display: none;
}