* {
  font-family: system-ui;
}
.page_404 {
  /* padding: 40px 0; */
  background: #fff;
}

.page_404 img {
  width: 100%;
}

.four_zero_four_bg {
  background-image: url(https://cdn.dribbble.com/users/722246/screenshots/3066818/404-page.gif);
  height: 550px;
  background-position: center;
  background-repeat: no-repeat;
}

.four_zero_four_bg h1 {
  font-size: 80px;
}

.four_zero_four_bg h3 {
  font-size: 80px;
}

.link_404 {
  color: #fff !important;
  padding: 10px 20px;
  background: #1e4682;
  display: inline-block;
  text-decoration: none;
  border-radius: 5px;
  font-weight: 500;
}
.contant_box_404 {
  margin-top: -6px;
}
.contant_box_404 p {
  font-weight: 500;
}
