.active {
    background-color: rgb(0 31 114);
    border-radius: 5px;
}
.bg-menu {
    --tw-bg-opacity: 1;
    background-color: rgb(54 92 201);
}
.items-step {
    border: 1px solid rgb(169, 169, 169);
    border-bottom: 7px solid rgb(119, 144, 225);
    border-radius: 5px 5px 0px 0px;
    background-color: #fff;
}
.steps-active {
    border-bottom: 7px solid rgb(8, 41, 149);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}